In [ ]:
print("hello")

hello

In [ ]:
print("Hello")

Hello

In [ ]:
# Our First Project - Calculator

In [ ]:
# Step 1 -> Perfom addition in Python 
# Step 2 -> store the result in some variable and show the result 
# Step 3 -> Take user Input for dynamic Addition

In [ ]:
# Step 1 -> 

20 + 30

50

In [ ]:
ourSum = 20 + 30

In [ ]:
ourSum

50

In [ ]:
ourSum

50

In [ ]:
print(ourSum)

50

In [ ]:
# Step 3 how to take input and convert string to int 

a = input("Enter your first Number ")

Enter your first Number 25

In [ ]:
a

'25'

In [ ]:
type(a)

str

In [ ]:
# Converting a from string to int 

a= int(a)

In [ ]:
type(a)

int

In [ ]:
b = input("Enter your second Number")

Enter your second Number 5

In [ ]:
b = int(b)

In [ ]:
b

5

In [ ]:
sum1 = a + b

In [ ]:
print("Your addition is ", sum1)

Your addition is  30

In [2]:
a = int(input("First Number "))
b = int(input("Second Number" ))
sum2 = a + b
print("Our Sum is ", sum2)

First Number 25
Second Number36
Our Sum is  61

In [3]:
#Assignment day 1
# -> Perfom subtraction in Python 
c= int(input("First Number "))
d= int (input("Second Number "))
Diff1 = c - d
print("our difference is",Diff1)

First Number 60
Second Number 25
our difference is 35

In [5]:
# -> Perfom multiplication in Python 
x= int(input("First Number "))
y= int (input("Second Number "))
prod1 = x * y
print("our product is",prod1)

First Number 25
Second Number 25
our product is 625

In [8]:
# -> Perfom division in Python 
num1= int(input("First Number "))
num2= int (input("Second Number "))
num3 = num1/num2
print("our division is ",num3)

First Number 625
Second Number 5
our division is  125.0